* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

button {
  cursor: pointer;
}

.mission-table,
.profile-table {
  margin-top: 16px;
  border-collapse: collapse;
}

.mission-container {
  margin: 0 32px;
}

.display-mission-tr td,
.display-mission-tr th,
.profile-th,
.profile-td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 16px 4px;
}

.display-mission-font {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.display-mission-bold,
.profile-table {
  font-size: 16px;
}

.profile-table {
  width: 600px;
}

.profile-table-container {
  margin-left: 32px;
}

.badge-section {
  width: 15rem;
}

tbody:nth-child(even) {
  background-color: #f2f2f2;
}

.badge {
  color: #fff;
  font-size: 1.4rem;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

.badge-primary {
  background-color: #6d757d;
}

.badge-secondary {
  background-color: #18a2b8;
}

.btn-mission {
  background: none;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #000;
  font-size: 1.4rem;
}

.btn-mission-sec {
  border: 1px solid #e7727d;
  color: #e7727d;
}
