* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

button {
  cursor: pointer;
}

.mission-table,
.profile-table {
  margin-top: 16px;
  border-collapse: collapse;
}

.mission-container {
  margin: 0 32px;
}

.display-mission-tr td,
.display-mission-tr th,
.profile-th,
.profile-td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 16px 4px;
}

.display-mission-font {
  font-size: 12px;
  line-height: 24px;
}

.display-mission-bold,
.profile-table {
  font-size: 16px;
}

.profile-table {
  width: 600px;
}

.profile-table-container {
  margin-left: 32px;
}
